.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h2{
  display: flex;
  justify-content: center;
  text-align: center;
  color: red;
  margin-top: 50px;
  margin-left: 60px;
}
input{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 20px;
  margin-top: 40px;
  margin-left: 40%;
  height: 20px;
  width:60vh;
} 
.btn{
  padding: 10px;
  margin: 10px;
  margin-left: 41%;
  margin-top: 20px;
  width: 60vh;
  border-radius: 10px;
  color:#fff;
  font-size: 20px;
  background-color: blue;
  cursor: pointer;
}
.expense-list{
  /* display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none; */
  color: blue;
  margin-left: 40%;
  font-size: 18px;
  font-weight: 600;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.btn-1{
  display: flex;
  color: white;
  padding: 10px;
  margin: 10px;
  margin-left: 30%; ;
  background-color: blue;
  cursor: pointer;
}
.btn-1:hover{
  color: black;
  background-color: red;
}
